@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  color: rgb(36, 62, 99);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
    padding: 80px 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.text--purple {
    color: #8B008B;
}

main {
    height: 100vh;
}

/* 



nav



*/

.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 0 0 16px ;
  margin: 28px -8px 128px 16px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    position: relative;
}


.nav__link--li {
    padding-right: 48px;
    color: #243e63;
    font-weight: 600;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #FF4500;
    border-bottom: solid 2px #FF4500;
}

.nav__link {
    padding-bottom: 4px;
    border-bottom: solid 2px #243e63;
    border-bottom-color: transparent;
    transition: all 300ms ease-in-out;
}

.nav__link--seperation {
    margin-left: 48px;
    margin-right: -16px;
}

.nav__link--special:hover {
    background-color: #ee9879;
}

.nav__link--special{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0;
    background-color: #FF4500;
    color:#8B008B ;
    padding: 0.75rem 2rem;
    border-radius: 24px;
    transition: all 300ms ease;
}

.logo__img {
  width: 50px;
}

/* 




landing




*/

#landing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 40%;
    margin: 0 16px
}

.landing__title {
    top: 0;
    left: 0;
    font-size: 48px ;
    line-height: 1.25;
    margin-bottom: 16px;
}

.landing__para {
    font-size: 20px;
    margin: 16px 0;
    line-height: 1.5;
    color: rgb(36, 62, 99);
}

.landing__form {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.landing__form--email {
    width: 100%;
    font-size: 18px;
    color: rgba(36, 62, 99,.75);
    display: flex;
    padding:18px 125px 18px 25px  ;
    border: rgba(128, 128, 128, 0.25) 2px solid;
    border-radius: 9999px ;
}

.form__button {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #FF4500;
    padding: 0 24px;
    border-radius: 9999px;
}

.landing__customers {
    font-size: 12px;
    margin: 64px 0;
    color: black;
    opacity: .25;
    margin-bottom:16px ;
}
.landing__customers--img {
    width: 100%;
    padding-right: 64px;
    opacity:.5;
}



.right__landing {
 
    float: right;
    width: 60%;
}

.landing__img {
    width: 100%;
    padding-right: 12px;
}

/* 




features




*/

.features__header--section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.features__title {
    position: absolute;
    top: -80px;
    text-transform: uppercase;
    font-size:16px ;
    letter-spacing: 1.6px;
    font-weight: 700;
}


.featuers__header {
    font-size: 48px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900;
    position: relative;
    top: -32px;
    color: rgb(36, 62, 99);
}

.features__para {
    margin-top: -8px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height:1.625 ;
    text-align: center;
    color: rgba(124,139,161,.9);
    max-width: 560px;
}


/*




features/services 



*/

#section {
    padding-top:96px ;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
}

.service__item {
    display: flex;
    justify-content: center;
    padding: 16px;
    width: calc(100%/3);
}

.service__description {
    display: flex;
    flex-direction: column;
}

.service__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 66px;
    max-height: 66px;
    border-radius: 999999px;
    border: solid rgba(128, 128, 128, 0.25) 1px;
    margin-right:16px ;
}

.service__description--para {
    width: 100%;
    margin-top: 16px;
    font-weight: 500;
    opacity: .6;
    line-height: 2;
}

/*




quality section  




*/

#quality {
    padding-top: 96px;
    width: 100%;
}


.quality__left {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 48px;
}

.quality__tag {
    text-transform: uppercase;
    font-size:16px ;
    letter-spacing: 1.6px;
    font-weight: 700;
    color: #8B008B;
}

.quality__title {
    font-size: 48px;
    margin-top: 16px;

}


.quality__para {
    margin-top: 16px;
    font-size:20px ;
    font-weight: 500;
    line-height: 1.625;
    color: rgba(124,139,161,.9)
}

.quality__button-pos {
    margin-top: 32px;
}

.quality__button {
    color: white;
    background-color: #FF4500;
    text-align: center;
    font-weight: 500;
    border-radius: 99999px;
    border: none;
    padding: 12px 32px;
}


.quality__right {
    width: 50%;
    float: right;
}

.quality__img {
    width: 50%;
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.25);
}


/* 




steps 




*/

#steps {
    width: 100%;
}

.steps__left {
    width: 50%;
    float: left;
}

.steps__left-img--wrapper {
    width: 100%;
    padding: 0 16px;
}

.steps__left-img {
    width: 100%;
}

.steps__right {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
}

.steps__tag {
    color: #8B008B;
    text-transform: uppercase;
    font-size:16px ;
    letter-spacing: 1.6px;
    font-weight: 700;
    
}

.steps__title {
    margin-top: 16px;
    font-weight: 900;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: .4px;
}

.steps__list {
    margin-top: 32px;
    display: flex;
}

.steps__list--number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    opacity: .3;
}

.steps__list--tp {
    margin-left: 24px;
}

.steps__list--title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.steps__list--para {
    margin-top: 12px;
    max-width: 320px;
    line-height: 2;
    opacity: .75;
}


/*




Values  




*/












.empty__space {
    padding: 100px;
}